@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*, :root {
    margin: 0;
    padding: 0;
    --main-color: #081533;
    --accent-color: #DB3939;
    font-family: 'Montserrat', sans-serif;
}

body {
    overflow-y: hidden;
}

.mainContainer {
    margin-top: 8em;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.mainContainer img {
    width: 10em;
}

.mainContainer h3 {
    margin: 2em 0 .2em 0;
    color: var(--main-color);
    font-size: 2em;
}

.mainContainer p {
    margin: 1em 0 .2em 0;
    color: var(--main-color);
    font-size: 1.2em;
}